*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: url(../images/prince\ symbol.jpeg) fixed;
}

.container{
    max-width: 750px;
    margin: 0 auto;
}

main.container{
    background: rgb(212, 210, 210);
    padding: 25px 50px;
}

h1 {
    margin: 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

h2,
h3,
h4 {
    margin: 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    line-height: 200%;
    margin: 20px 0;
}

header {
    background: rgb(0, 0, 0);
    padding: 10px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}